<!DOCTYPE html>
<html lan="eng">
<head>
    <meta charset="UTF-8">
    <title>Join Us</title>
</head>
<body>
<h3>Join in Progress</h3>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/join">Join</a>
</body>
</html>